body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(241, 235, 235, 0.822), transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.background-image {
    position: absolute;
    width: 100vh;
    z-index: 2;
    
}
