body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#e9b9cf, #d4f2f0);
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.text {
    width: max-content;
    font-size: 180px;
    color: #00000010;
}

.img1 {
    bottom: 14vh;
}

.bottom {
    position: absolute;
    background: black;
    height: 14vh;
    width: 100vw;
    bottom: 0;
    border-top-width: 2px;
    border-top-style: solid;
    border-image: linear-gradient(to right, transparent, white) 3 stretch;
    z-index: 3;
}

.blur2 {
    height: 14vh;
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: 14vh;
    background: linear-gradient(to right, #c1c8cc31, #d4f2f05b, #d4f2f05b);
    z-index: 3;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.226);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-top-width: 2px;
    border-top-style: solid;
    border-image: linear-gradient(to right, transparent, white) 3 stretch;
    display: grid;
    grid: 14vh / 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}
