:root {
    --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#e9b9cf, #d4f2f0);
    width: 1350px;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    font-family: 'Lato', sans-serif;;
    font-size: 220px;
    color: #00000010;
}

body::-webkit-scrollbar {
    display: none;
}

.text {
    width: max-content;
}

.background {
    background: #5875dc2f;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 1100px;
    height: 600px;
    margin-left: 100px;
    /*margin-right: auto;*/
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.text-2 {
    font-size: 100px;
    margin-top: calc(300px - 1.5em);
    padding: 14px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.a1 {
    font-size: 52px;
}

.menus {
    width: 750px;
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #c1c8cc31, #d4f2f05b, #d4f2f05b);
    z-index: 3;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.226);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-top-width: 2px;
    border-top-style: solid;
    border-image: linear-gradient(to right, transparent, white) 3 stretch;
    display: grid;
    grid: 100px / 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

.ab {
    border-right-width: 2px;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, transparent, white) 3 stretch;
}

.dots {
    display: grid;
    grid-template-columns: 8px 8px 8px;
    grid-template-rows: 8px 8px 8px;
    /*background-color: rgba(128, 128, 128, 0.342);*/
    grid-gap: 2px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 13px;
}

.d1 {
    width: 8px;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.329);
}

.search {
    position: absolute;
    left: 52px;
    top: 13px;
}

.abc {
    position: absolute;
    top: 0;
}
